<a href="https://colab.research.google.com/github/jhuarancca/openDataProjects/blob/main/BigQuery_bquxjob_63c7ce80_18634072f43.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'healthcaredata-376400' # Project ID inserted based on the query results selected to explore
location = 'US' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=healthcaredata-376400:US:bquxjob_63c7ce80_18634072f43)
back to BigQuery to edit the query within the BigQuery user interface.

In [2]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_63c7ce80_18634072f43') # Job ID inserted based on the query results selected to explore
print(job.query)

SELECT
 d.person_id,
 d.drug_concept_id,
 c.concept_name
FROM
 `bigquery-public-data.cms_synthetic_patient_data_omop.drug_era` AS d
JOIN
 `bigquery-public-data.cms_synthetic_patient_data_omop.concept` AS c
ON  d.drug_concept_id = c.concept_id
WHERE
 REGEXP_CONTAINS(c.concept_name,'(?i).*insulin*')

 AND drug_era_start_date >= '2010-01-01' and drug_era_start_date <= '2010-06-30'

GROUP BY
 d.person_id,
 d.drug_concept_id,
 c.concept_name

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [3]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_63c7ce80_18634072f43') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

Warning: total number of rows (38315) exceeds max_rows (20000). Falling back to pandas display.

       person_id  drug_concept_id                   concept_name
0         217560         19013951         Insulin, Regular, Beef
1        1250983         19013951         Insulin, Regular, Beef
2        1752446         19090187  Insulin, Protamine Zinc, Pork
3        2250215         19013951         Insulin, Regular, Beef
4        1929540         19090180  insulin, protamine zinc, beef
...          ...              ...                            ...
38310    2076410          1588986     insulin human, rDNA origin
38311    1777648          1588986     insulin human, rDNA origin
38312     531810          1588986     insulin human, rDNA origin
38313    1588321          1588986     insulin human, rDNA origin
38314    1101762          1588986     insulin human, rDNA origin

[38315 rows x 3 columns]

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a datasetâ€™s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [4]:
results.describe()

          person_id  drug_concept_id
count  3.831500e+04     3.831500e+04
mean   1.165957e+06     1.512769e+07
std    6.706331e+05     1.952831e+07
min    2.790000e+02     1.502905e+06
25%    5.858815e+05     1.562586e+06
50%    1.175915e+06     1.596977e+06
75%    1.739443e+06     4.622158e+07
max    2.326787e+06     4.622158e+07